In [34]:
# Data Cleaning
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
raw = pd.read_csv('video-game-sales.csv'
                  ,delimiter=',')
df = raw.copy()
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [36]:
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [37]:
# Unimportant Columns
df = df.drop(['Rank','Name','Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales'],axis=1)
df

      Platform    Year         Genre  Global_Sales
0          Wii  2006.0        Sports         82.74
1          NES  1985.0      Platform         40.24
2          Wii  2008.0        Racing         35.82
3          Wii  2009.0        Sports         33.00
4           GB  1996.0  Role-Playing         31.37
...        ...     ...           ...           ...
16593      GBA  2002.0      Platform          0.01
16594       GC  2003.0       Shooter          0.01
16595      PS2  2008.0        Racing          0.01
16596       DS  2010.0        Puzzle          0.01
16597      GBA  2003.0      Platform          0.01

[16598 rows x 4 columns]

In [38]:
df['Year'] = df['Year'].interpolate(method='linear',axis=0).astype(int)
df.isna().sum()

Platform        0
Year            0
Genre           0
Global_Sales    0
dtype: int64

Platform Sales

In [39]:
total_gsales = df['Global_Sales'].sum()
total_gsales

8920.44

In [40]:
df_sub = pd.DataFrame(df.groupby('Platform')['Global_Sales'].sum()\
    .sort_values(ascending=False)).reset_index()
df_sub['Cumulative'] = ((df_sub['Global_Sales']/total_gsales)*100).cumsum().round(0).astype(int)
df_sub.to_excel('platform-sales.xlsx',index=None)

Year Sales

In [41]:
df['Year'] = df['Year'].interpolate(method='linear',axis=0).astype(int)
df_sub = pd.DataFrame(df.groupby('Year')['Global_Sales'].sum()).reset_index()
df_sub = df_sub.where(df_sub['Global_Sales']>1).dropna()
df_sub.to_excel('year-sales.xlsx',index=None)

Genre Sales

In [42]:
df_sub = pd.DataFrame(df.groupby('Genre')['Global_Sales'].sum()\
    .sort_values(ascending=False)).reset_index()
df_sub['Cumulative'] = ((df_sub['Global_Sales']/total_gsales)*100)\
                        .cumsum().round(0).astype(int)
df_sub.to_excel('genre-sales.xlsx',index='None')

Clean Data

In [43]:
df.to_excel('clean-video-game-sales.xlsx',index='None')